<div id="contacts">
{% if page.mail %}<span class="radius secondary label"><i class="icon fi-mail"></i> <a href="mailto:{{ page.mail }}">{{ page.mail }}</a></span>{% endif %}
{% if page.telefon %}<span class="radius secondary label"><i class="icon fi-telephone"></i> <a href="tel:{{ page.phone | replace_first:'+','00' | replace : " ", "" }}">{{ page.phone }}</a></span>{% endif %}
{% if page.facebook %}<span class="radius secondary label"><i class="icon fi-social-facebook"></i> <a href="{{ page.facebook }}">{{ page.facebook | remove: "https://www.facebook.com/" }}</a></span>{% endif %}
{% if page.github %}<span class="radius secondary label"><i class="icon fi-social-github"></i> <a href="{{ page.github }}">{{ page.github | remove: "https://github.com/"}}</a></span>{% endif %}
{% if page.twitter %}<span class="radius secondary label"><i class="icon fi-social-twitter"></i> <a href="{{ page.twitter }}">{{ page.twitter | remove: "https://twitter.com/" }}</a></span>{% endif %}
{% if page.return %}<span class="radius secondary label"><i class="icon fi-bitcoin-circle"></i> <a href="{{ page.return }}">majetkové přiznání</a></span>{% endif %}
{% if page.report %}<span class="radius secondary label"><i class="icon fi-clock"></i> <a href="{{ page.report }}">výkaz práce</a></span>{% endif %}
{% if page.tasks %}<span class="radius secondary label"><i class="icon fi-checkbox"></i> <a href="{{ page.tasks }}">úkoly</a></span>{% endif %}
{% if page.photos %}<span class="radius secondary label"><i class="icon fi-camera"></i> <a href="{{ page.photos }}">fotografie</a></span>{% endif %}
</div>
