{% include head.html %}

<body>

{% include top.html %}

<div class="row bgwhite contents">
  {% if page.image %} <img src="{{ page.image }}" title="{{ page.title}}" class="title">
 {% endif %}
  <h1>{{ page.title }} {% if page.sub %}<small>{{ page.sub }}</small>{% endif %}</h1>

  {% include contacts.html %}

  {{ content }}

  {% if page.autor %} <span class="radius label">{{ page.autor}}</span> {% endif %}
  {% if page.date %}  <span class="radius secondary label">{{ page.date | date: "%d.%m.%Y" }}</span> {% endif %}


</div>
{% include foot.html %}

{% include js.html %}

</body>
</html>
